In [36]:
import pandas
import numpy as np

Read from the TESS files

In [37]:
df = pandas.read_csv("/Users/agiri1/Library/CloudStorage/OneDrive-NASA/tess_2min_tces_dv_s1-s68_all_msectors_11-29-2023_2157_newlabels.csv")

/var/folders/fj/sc302dk12r5c_wmxppvvyf440000gp/T/ipykernel_37118/2067229358.py:1: DtypeWarning: Columns (364,366,367,370,371) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv("/Users/agiri1/Library/CloudStorage/OneDrive-NASA/tess_2min_tces_dv_s1-s68_all_msectors_11-29-2023_2157_newlabels.csv")

In [38]:
df

,taskFileId,targetIndexNumber,target_id,numberOfPlanets,tce_plnt_num,numberOfAlerts,tce_max_sngle_ev,tce_max_mult_ev,planetCandidate.maxSesInMes,planetCandidate.suspectedEclipsingBinary,...,Time Series Observations,Comments,matched_astronet-qlp_tce,match_corr_coef_astronet-qlp_tce,label_astronet-qlp,matched_villanova_ebs,match_corr_coef_villanova_ebs,tec_fluxtriage_pass,tec_fluxtriage_comment,matched_object
0,65226.0,1.0,13829713,2.0,1,0.0,12.975402,16.565094,12.641303,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65226.0,1.0,13829713,2.0,2,0.0,10.946921,11.462656,10.625190,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19291.0,1.0,13829713,1.0,1,1.0,22.684364,17.363235,22.268074,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,ses2MesFail,NaN
3,67658.0,1.0,13829713,2.0,1,1.0,11.039851,12.809698,11.039851,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,67658.0,1.0,13829713,2.0,2,1.0,12.012865,13.420507,10.120853,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207740,39026.0,1.0,177238322,1.0,1,9.0,13.928043,12.856418,10.914995,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,newMesBelowThresh,NaN
207741,39026.0,1.0,300009970,1.0,1,8.0,7.936924,10.417291,7.747521,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,ChasesFail,NaN
207742,39028.0,1.0,260041957,2.0,1,20.0,4.400968,7.547434,2.606813,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,PASS,NaN
207743,39028.0,1.0,260041957,2.0,2,20.0,4.847594,10.483276,4.098222,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,AltDetFail,NaN
207744,39029.0,1.0,260538104,1.0,1,0.0,14.663054,7.787599,5.194459,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,ses2MesFail,NaN

List of TIC IDs and periods, found from ExoFOP and therncarmichael.com They are in the same order, so when zipped, each period can be matched with its respective TIC ID.

In [39]:
list = [98545929,272836943,245392284,392353449,432549364,180991313,271749758,203214138,108042536,130633912,1103650646,9848368,9725627,206893389,158490401,184892124,138099073,67646986,281888055,48481940,282024826,122519207,48451130,2055733261,163539739,231736113,186812530,29918916,100757807,120916706,123482865,437329044,236387002,293853437,270604417,130415266,88902249,393940766,72556406,294090620,167418903]

In [40]:
periods = [1.9,21.1,1.7,4.3,1.2,2.2,11.7,5.2,5.8,5.3,2.9,97.8,4.2,3.1,12.7,2,166.8,1.9,40.7,17.8,2.1,7.26,30.4,0.7,14.5,10.6,3.7,4.9,25.2,0.56,6.6,17.2,7.2,8.7,7.5,39.5,7.71,4.9,5.56,8,11]

Checking to ensure there are no duplicates in list

In [41]:
print(str(len(list)) +" "+ str(len(set(list))))

41 41

Find total amount of TCE's with the TICs in the list

In [42]:
total_len = 0;
for i in list:
    total_len += len(df.loc[(df["target_id"] == i)])

In [43]:
total_len

110

Find all the TICs who's period matches the reported period of the

In [44]:
len_total = 0;
for id, period in zip(list, periods):
    print(str(df[(df["target_id"] == id) & (abs(df["tce_period"] - period) < 0.1)]['tce_period']) + " "+ str(period) +" "+ str(id))
    len_total += len(df[(df["target_id"] == id) & (abs(df["tce_period"] - period) < 0.1)]["target_id"])

94657     1.888445
94658     1.887792
94659     1.888296
94660     1.888231
206721    1.888199
Name: tce_period, dtype: float64 1.9 98545929
Series([], Name: tce_period, dtype: float64) 21.1 272836943
150707    1.744283
Name: tce_period, dtype: float64 1.7 245392284
Series([], Name: tce_period, dtype: float64) 4.3 392353449
17288    1.217491
17289    1.217516
17290    1.217495
Name: tce_period, dtype: float64 1.2 432549364
109068    2.208836
109069    2.208542
109070    2.208733
109071    2.208822
187885    2.208779
Name: tce_period, dtype: float64 2.2 180991313
Series([], Name: tce_period, dtype: float64) 11.7 271749758
72576    5.171100
72577    5.168428
72578    5.168220
72579    5.169839
Name: tce_period, dtype: float64 5.2 203214138
Series([], Name: tce_period, dtype: float64) 5.8 108042536
Series([], Name: tce_period, dtype: float64) 5.3 130633912
Series([], Name: tce_period, dtype: float64) 2.9 1103650646
Series([], Name: tce_period, dtype: float64) 97.8 9848368
26194     4.156253
26195     4.156596
26196     4.157010
26197     4.156786
200417    4.156782
Name: tce_period, dtype: float64 4.2 9725627
Series([], Name: tce_period, dtype: float64) 3.1 206893389
53030    12.713894
53031    12.713438
53032    12.713996
53033    12.713674
53035    12.713690
53036    12.713788
Name: tce_period, dtype: float64 12.7 158490401
72523    1.982976
72524    1.982918
72525    1.982907
72526    1.982752
Name: tce_period, dtype: float64 2 184892124
Series([], Name: tce_period, dtype: float64) 166.8 138099073
Series([], Name: tce_period, dtype: float64) 1.9 67646986
Series([], Name: tce_period, dtype: float64) 40.7 281888055
Series([], Name: tce_period, dtype: float64) 17.8 48481940
Series([], Name: tce_period, dtype: float64) 2.1 282024826
Series([], Name: tce_period, dtype: float64) 7.26 122519207
61237    30.364106
61238    30.359981
Name: tce_period, dtype: float64 30.4 48451130
126587    0.675962
Name: tce_period, dtype: float64 0.7 2055733261
27631    14.477345
27632    14.475105
27633    14.475106
Name: tce_period, dtype: float64 14.5 163539739
Series([], Name: tce_period, dtype: float64) 10.6 231736113
70663     3.677834
70664     3.677429
70665     3.677311
70666     3.677503
70667     3.677469
70668     3.677414
70669     3.677357
202128    3.677366
Name: tce_period, dtype: float64 3.7 186812530
125479    4.946647
Name: tce_period, dtype: float64 4.9 29918916
Series([], Name: tce_period, dtype: float64) 25.2 100757807
125674    0.556792
125675    0.556737
200839    0.556810
Name: tce_period, dtype: float64 0.56 120916706
90323     6.557674
90324     6.556178
205154    6.556236
Name: tce_period, dtype: float64 6.6 123482865
Series([], Name: tce_period, dtype: float64) 17.2 437329044
77021    7.200802
77022    7.200858
77023    7.200858
77024    7.200858
77025    7.200839
Name: tce_period, dtype: float64 7.2 236387002
117341    8.717961
Name: tce_period, dtype: float64 8.7 293853437
94335    7.546067
94336    7.542751
Name: tce_period, dtype: float64 7.5 270604417
Series([], Name: tce_period, dtype: float64) 39.5 130415266
151936    7.711291
Name: tce_period, dtype: float64 7.71 88902249
46113    4.866972
46114    4.867069
Name: tce_period, dtype: float64 4.9 393940766
Series([], Name: tce_period, dtype: float64) 5.56 72556406
95094     8.044088
95097     8.044247
206942    8.044239
Name: tce_period, dtype: float64 8 294090620
96702     10.980701
96703     10.981554
96705     10.981772
96706     10.977292
96707     10.976939
96708     10.983574
96709     10.979953
96710     10.983451
96712     10.982343
96714     10.979288
96715     10.980333
96717     10.980311
195322    10.980306
195323    10.980306
Name: tce_period, dtype: float64 11 167418903

In [45]:
diffs = []
for id, period in zip(list, periods):
    curr_periods = df[(df["target_id"] == id) & (abs(df["tce_period"] - period) < 0.1)]["tce_period"]
    curr_depths = df[(df["target_id"] == id) & (abs(df["tce_period"] - period) < 0.1)]["tce_depth"]
    curr_durations = df[(df["target_id"] == id) & (abs(df["tce_period"] - period) < 0.1)]["tce_duration"]
    print(np.std(curr_periods)/np.mean(curr_periods))
    print(np.std(curr_depths)/np.mean(curr_depths))
    print(np.std(curr_durations)/np.mean(curr_durations))
    print(df[(df["target_id"] == id) & (abs(df["tce_period"] - period) < 0.1)][["tce_period","tce_depth","tce_duration"]]);
    print("---------------------------------------")

0.00011518102899242922
0.07794599679416377
0.010278972086016299
        tce_period    tce_depth  tce_duration
94657     1.888445  4332.241040      3.694625
94658     1.887792  4448.704131      3.777497
94659     1.888296  3575.797405      3.699832
94660     1.888231  4358.326087      3.669389
206721    1.888199  4431.610427      3.680650
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
0.0
0.0
0.0
        tce_period    tce_depth  tce_duration
150707    1.744283  7445.247905      2.192837
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
9.305281738818796e-06
0.007378768309553935
0.012878733595797739
       tce_period    tce_depth  tce_duration
17288    1.217491  6493.826832      2.733428
17289    1.217516  6460.476077      2.725370
17290    1.217495  6574.867249      2.804324
---------------------------------------
4.830417615791069e-05
0.019817393786270256
0.005919632783692592
        tce_period    tce_depth  tce_duration
109068    2.208836  8309.806525      2.736588
109069    2.208542  7806.989181      2.689180
109070    2.208733  8030.967888      2.726407
109071    2.208822  8059.119117      2.715307
187885    2.208779  8075.948363      2.709540
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
0.000225146482543114
0.04690925035349857
0.04915490062512754
       tce_period    tce_depth  tce_duration
72576    5.171100  3244.539730      2.262153
72577    5.168428  2868.077861      2.229547
72578    5.168220  2938.280151      1.989511
72579    5.169839  3019.980489      2.200192
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
6.082960806783468e-05
0.030460445197667486
0.007556989332103202
        tce_period    tce_depth  tce_duration
26194     4.156253  4429.570035      3.913001
26195     4.156596  4764.828285      4.006695
26196     4.157010  4851.510897      3.959188
26197     4.156786  4693.282397      3.961808
200417    4.156782  4745.354845      3.970766
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
1.3969159244088833e-05
0.012167119701586931
0.005486741341203587
       tce_period     tce_depth  tce_duration
53030   12.713894  67729.850940      2.519989
53031   12.713438  65772.866966      2.490242
53032   12.713996  66800.450410      2.480908
53033   12.713674  65141.361259      2.497514
53035   12.713690  66460.239775      2.512772
53036   12.713788  66308.559223      2.511385
---------------------------------------
4.195699161980146e-05
0.03957754127333362
0.012034463436894098
       tce_period      tce_depth  tce_duration
72523    1.982976  137200.758399      1.186303
72524    1.982918  147968.580056      1.225831
72525    1.982907  133199.885920      1.201907
72526    1.982752  137107.153963      1.212913
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
6.792228381635642e-05
0.0053133844307984325
0.009413020124528354
       tce_period     tce_depth  tce_duration
61237   30.364106  19143.083272      5.968935
61238   30.359981  19347.599065      6.082375
---------------------------------------
0.0
0.0
0.0
        tce_period     tce_depth  tce_duration
126587    0.675962  101976.93216      1.331443
---------------------------------------
7.29171269844124e-05
0.015510978710836693
0.043844490462437755
       tce_period    tce_depth  tce_duration
27631   14.477345  9314.311267      1.751830
27632   14.475105  9635.998520      1.584010
27633   14.475106  9618.579853      1.618248
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
4.155357082966319e-05
0.01607033547918669
0.018827272216113567
        tce_period    tce_depth  tce_duration
70663     3.677834  3670.877935      1.798837
70664     3.677429  3669.106985      1.826106
70665     3.677311  3768.626520      1.879501
70666     3.677503  3558.051133      1.913414
70667     3.677469  3648.055302      1.835655
70668     3.677414  3728.061065      1.850161
70669     3.677357  3687.916243      1.864838
202128    3.677366  3632.583914      1.891589
---------------------------------------
0.0
0.0
0.0
        tce_period    tce_depth  tce_duration
125479    4.946647  2522.506986      3.307819
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
5.583095786817946e-05
0.20114651302321052
0.054880428138656755
        tce_period     tce_depth  tce_duration
125674    0.556792  40505.533002      0.888652
125675    0.556737  63679.095551      0.852671
200839    0.556810  45140.535043      0.971207
---------------------------------------
0.0001055557310011985
0.0737836520190897
0.008094556102284212
        tce_period    tce_depth  tce_duration
90323     6.557674  2819.793800      2.705813
90324     6.556178  3295.016553      2.728649
205154    6.556236  2836.648140      2.675237
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
3.042455011571941e-06
0.4813006745388337
0.04532240275451107
       tce_period     tce_depth  tce_duration
77021    7.200802  52534.418543      2.052052
77022    7.200858  53150.605566      2.037380
77023    7.200858  52862.560743      2.044084
77024    7.200858  50888.663002      2.052730
77025    7.200839   1608.823402      1.820240
---------------------------------------
0.0
0.0
0.0
        tce_period    tce_depth  tce_duration
117341    8.717961  2517.639241      6.334177
---------------------------------------
0.00021976445038789997
0.03020952865884104
0.019728558391216244
       tce_period    tce_depth  tce_duration
94335    7.546067  3291.334720      6.198687
94336    7.542751  3098.306666      6.448191
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
0.0
0.0
0.0
        tce_period    tce_depth  tce_duration
151936    7.711291  3319.721065      4.165504
---------------------------------------
9.93320178071995e-06
0.01456760592089768
0.013990215376066767
       tce_period    tce_depth  tce_duration
46113    4.866972  5079.894874      3.142571
46114    4.867069  4934.016164      3.231750
---------------------------------------
nan
nan
nan
Empty DataFrame
Columns: [tce_period, tce_depth, tce_duration]
Index: []
---------------------------------------
9.092642550226482e-06
0.0029620807898562244
0.0005629811763206296
        tce_period    tce_depth  tce_duration
95094     8.044088  4969.263767      5.336189
95097     8.044247  4938.879063      5.331539
206942    8.044239  4937.505363      5.328931
---------------------------------------
0.00017057714299098444
0.07476849062084409
0.0705845671493416
        tce_period    tce_depth  tce_duration
96702    10.980701  8364.764270      2.167199
96703    10.981554  9101.829756      2.166010
96705    10.981772  8192.153759      1.852233
96706    10.977292  8976.696160      1.860800
96707    10.976939  9538.848308      1.929686
96708    10.983574  8892.433792      2.027019
96709    10.979953  7803.504713      2.170243
96710    10.983451  8611.362772      1.921141
96712    10.982343  6786.940630      1.719666
96714    10.979288  8845.089714      2.243067
96715    10.980333  8920.155967      1.943537
96717    10.980311  8317.319135      2.027917
195322   10.980306  8468.928065      2.038455
195323   10.980306  8575.715687      2.029746
---------------------------------------

In [46]:
len_total

82

Setting all the target_ids with the identified TIC to "BD"

In [50]:
for id, period in zip(list, periods):
    df.loc[(df["target_id"] == id) & (abs(df["tce_period"] - period) < 0.1),'label'] = 'BD'

In [51]:
total_bds = len(df[(df["label"] == 'BD')])

In [52]:
total_bds

82

Look at all the Labels. BDs, CPs, and KPs are the planets and Brown Dwarfs.

In [53]:
set(df['label'])

{'BD', 'CP', 'EB', 'FP', 'KP', 'NTP', 'UNK'}

Make a new DataFrame with only BDs, CPs, and KPs

In [54]:
new_df = df[(df["label"] == "BD") | (df["label"] == "CP") | (df["label"] == "KP")]

In [55]:
new_df

,taskFileId,targetIndexNumber,target_id,numberOfPlanets,tce_plnt_num,numberOfAlerts,tce_max_sngle_ev,tce_max_mult_ev,planetCandidate.maxSesInMes,planetCandidate.suspectedEclipsingBinary,...,Time Series Observations,Comments,matched_astronet-qlp_tce,match_corr_coef_astronet-qlp_tce,label_astronet-qlp,matched_villanova_ebs,match_corr_coef_villanova_ebs,tec_fluxtriage_pass,tec_fluxtriage_comment,matched_object
7,65226.0,1.0,15692883,1.0,1,0.0,20.063005,34.693878,19.855194,0.0,...,1.0,WASP-187 b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1493.01
116,65227.0,1.0,53728859,1.0,1,0.0,18.154200,40.388447,18.070606,0.0,...,0.0,HAT-P-28 b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6013.01
127,65227.0,1.0,61205803,1.0,1,0.0,18.514589,42.139324,18.149183,0.0,...,0.0,found in faint-star QLP search; HAT-P-51 b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3636.01
137,65227.0,1.0,57984377,1.0,1,0.0,61.355724,163.285553,61.355724,0.0,...,0.0,WASP-1 b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6014.01
836,65231.0,1.0,176899385,1.0,1,0.0,51.436451,124.727844,51.427296,0.0,...,0.0,HAT-P-6 b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1373.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206788,38979.0,1.0,147977348,1.0,1,0.0,45.948582,129.087677,45.793903,0.0,...,6.0,SG1 should clear neighbor. Large PC.,NaN,NaN,NaN,NaN,NaN,1.0,PASS,640.01
206942,38981.0,1.0,294090620,1.0,1,0.0,101.501183,183.058273,101.501183,0.0,...,1.0,low-mass stellar companion from RVs; was FP no...,NaN,NaN,NaN,NaN,NaN,1.0,PASS,NaN
207460,38998.0,1.0,198008005,1.0,1,0.0,32.066360,102.837204,32.041985,0.0,...,4.0,may also be on 198008002,NaN,NaN,NaN,NaN,NaN,1.0,PASS,858.01
207541,38999.0,1.0,232038798,1.0,1,0.0,25.672392,72.380577,23.712505,0.0,...,0.0,WASP-168 b,NaN,NaN,NaN,NaN,NaN,1.0,PASS,1909.01
207626,39000.0,1.0,268301217,1.0,1,0.0,11.262311,60.836987,9.984344,0.0,...,1.0,TOI-1937 A b,NaN,NaN,NaN,NaN,NaN,1.0,PASS,1937.01

Writing the new Dataframe to CSV

In [56]:
new_df.to_csv("/Users/agiri1/Library/CloudStorage/OneDrive-NASA/tess_2min_tces_dv_s1-s68_all_msectors_11-29-2023_2157_newlabels_only_BDs_CPs_KPs.csv")

In [57]:
len(new_df)

3747